@import "tailwindcss";

:root {
  --background: #0F241C;
  --primary: #019863;
  --card: #17362B;
  --text: #8FCCB8;
  --helperText: #fff;
  --foreground: #171717;
  --border: #2E6B54;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-helper-text: var(--helperText);
  --color-foreground: var(--foreground);
  --color-border: var(--primary);
  --font-family: 'Inter', sans-serif;
}


body {
  background: var(--background);
  color: var(--text);
}